* {
  font-weight: bold;
  font-size: large;
}
body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
}
/* For smooth scroll */
/* For navbar */
.navbar {
  background-color: rgba(234, 234, 236, 0.685);
  padding: 0;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* if we don't write this script the background color will not be applied to the navbar because the when we use float property the element is removed from the normal flow of the document and it is placed on the left or right side of its container. So, the background color is not applied to the navbar. To solve this problem we use overflow: auto; property to the navbar class. This property tells the browser to add a scrollbar to the navbar if the content overflows the width of the container. This will force the browser to display the background color of the navbar. */
header {
  padding: 0 0;
}
.navbar {
  overflow: auto;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  float: left;
  margin-right: 10px; /* Adjust the spacing between items */
}
.navbar ul li.logo a {
  float: left;
  padding: 13px 0 0 13px;
}
.navbar ul li.logo img {
  margin: 0;
  padding: 0;
}
.events a {
  display: inline;
  margin: 0;
}
.navbar ul li a {
  padding: 0 4px;
  text-decoration: none;
  padding: 10px 13px;
  text-transform: capitalize;
  line-height: 30px;
}
.navbar ul li.events {
  padding-right: 0;
}
li#search {
  float: right;
  margin: 0;
  padding: 0;
  padding: 22px 0;
  line-height: 30px;
}
.logo {
  float: left;
}
.logo img {
  margin-right: 50px;
  width: 58px;
  height: 47px;
  padding: 0px 0;
}
.navbar ul li.logo {
  margin-right: 314px;
}
#search {
  border-radius: 25px;
  text-align: center;
  width: 200px;
  font-weight: lighter;
  font-size: smaller;
  color: rgb(1, 30, 125);
  padding-right: 25px;
  display: inline;
}
/* to dispaly the login button inline and modify its color */
#login-button {
  display: inline;
  margin: 0;
  background-color: #5c415d;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: small;
  color: rgba(151, 212, 17, 0.897);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.navbar li a {
  margin-right: 10px;
}
/* To make ruler with padding and margin zero */
hr {
  margin: 0;
  padding: 0;
  border: 5px solid #120e122d;
}
/* to dispaly the signup button inline and modify its color */
#signup-button {
  display: inline;
  margin: 0;
  background-color: #5c415d;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: small;
  color: rgba(151, 212, 17, 0.897);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
hr {
  width: 100%;
  border: 10px;
}
/* to join signup and login buttons */
#signup-button {
  margin-left: -30px;
}
#login-button {
  margin-left: 20px;
}
.navbar ul li.bullets a,
.navbar ul li.bullets-btn a,
.navbar ul li.bullets-ser a {
  padding: 22px 13px;
  display: inline;
}
ul li#events a {
  padding-right: 0;
}

/* effect on our buttons */
#login-button:hover {
  background-color: rgba(151, 212, 17, 0.897);
  color: #1c1a1ae8;
  border-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  zoom: 1.3;
}
#signup-button:hover {
  background-color: rgba(151, 212, 17, 0.897);
  color: #171515e8;
  border-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  zoom: 1.3;
}
.bullets a:hover {
  text-decoration: underline;
}
.bullets a:visited {
  text-decoration: none;
  color: rgba(11, 46, 221, 0.751);
}
.bullets a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 8px #08cf9d;
}
.navbar ul li.logo a:hover img {
  box-shadow: 0 12px 16px 0 #08cf9d, 0 17px 50px 0 rgba(43, 176, 17, 0.587);
}
/* Working on main content */
main {
  background-color: whitesmoke;
}
/* will make it latr */
/* customizing footer */
footer,
nav ul {
  background-color: wheat;
  margin: 0;
  padding: 30px;
  text-align: left;
  padding-bottom: 10px;
}

footer ul.f-links,
footer ul.g-links {
  height: 100%;
  list-style-type: none;
  display: inline-block; /* Using inline-block to keep them on the same line */
  vertical-align: top; /* Aligning them at the top */
}
footer ul.g-links {
  text-align: right;
  margin-left: 200px;
}
footer ul.f-links {
  nav-left: 60%;
}
footer nav ul.f-links li,
footer nav ul.g-links li {
  margin-bottom: 15px;
}
footer ul.f-links li a,
footer ul.g-links li a {
  text-decoration: none;
  color: black;
  display: inline; /* Ensures the entire list item is not clickable */
}
footer ul.f-links li a:hover,
footer ul.g-links li a:hover {
  text-decoration: underline;
  color: crimson;
  text-shadow: 4px 4px 16px #2323cce3;
}
p.copy {
  margin-top: 82px;
  display: inline-block;
  font-weight: lighter;
}
p.policy {
  margin-top: 78px;
  display: inline-block;
  font-weight: lighter;
}
p.policy a {
  font-weight: lighter;
}
/* css for main content */
main {
  margin: 0;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 45%;
  left: 11.2%;
  font-family: manrope, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.top-left {
  position: absolute;
  top: 5%;
  left: 10.5%;
  font-family: manrope, sans-serif;
  font-size: 60px;
  font-weight: 500px;
  padding-top: 100px;
  margin: 20px 0;
}

.top-right {
  position: absolute;
  right: 31.5%;
  font-family: manrope, sans-serif;
  font-size: 60px;
  font-weight: 500px;
  top: 28%;
  padding-right: 391px;
}

.bottom-right {
  position: absolute;
  top: 35%;
  left: 10.8%;
  font-family: manrope, sans-serif;
  font-size: 60px;
  font-weight: 500px;
}

.centered {
  position: absolute;
  top: 51%;
  left: 24%;
  transform: translate(-50%, -50%);
  font-family: manrope, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.Join {
  position: absolute;
  top: 60%;
  left: 11%;
  background-color: transparent;
  border-width: 1px;
  color: white;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 75px;
  border-color: white;
  border-radius: 16px;
  width: 120px;
  display: inline;
  height: 60px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.7s;
}
.Join:hover {
  background-color: white;
  color: black;
  font-size: bold;
  border: none;
  font-size: larger;
}
.Next {
  margin-left: 80px;
  background-color: rgba(255, 255, 255, 0.808);
  position: relative;
  margin-left: 10%;
  display: inline-block;
  width: 1000px;
  margin-top: -50px;
  padding: 25px;
  margin-bottom: 10px;
}

.text {
  font-family: manrope, sans-serif;
  font-size: 17.93px;
  font-weight: 13;
  color: black;
}
.Level {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  border: none;
  background-color: #007db8;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 28px;
  font-weight: 10;
  cursor: pointer;
  transition: 0.7s;
}
.Level:hover {
  background-color: #007db8;
  opacity: 0.8;
}
.B1,
.B2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 19%;
  border: solid;
  background-color: white;
  color: rgb(19, 15, 15);
  width: 100px;
  height: 47px;
  font-size: 8px;
  border-color: rgba(214, 198, 198, 0.694);
  border-radius: 32px;
  transition: border-color 0.15s;
}
.B2 {
  right: 31%;
}
#a1,
#a2 {
  font-size: 15px;
  display: inline;
  font-weight: bold;
}
.B1:hover,
.B2:hover {
  border-color: rgba(74, 74, 206, 0.758);
  cursor: pointer;
}
/* For sticky header */
.navbar,
header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100;
}
.larger-text {
  font-size: 40px; /* Adjust the font size to make it larger than h1 */
  font-weight: bold; /* Optional: Making the text bold */
  display: inline;
  font-family: manrope, sans-serif;
  margin-top: 20px;
  padding-left: 20px;
}
.image-container {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  background-color: rgba(236, 234, 234, 0.808);
  padding-left: 20px;
  grid-column-gap: 180px;
}
.image {
  float: left;
  padding: 20px;
}

/* Style for the text below each image */
.image-text {
  margin-top: 10px; /* Adjust the margin between image and text */
  font-family: manrope, sans-serif;
  padding-left: 20px;
}

.image-text-para {
  margin-top: 10px; /* Adjust the margin between image and text */
  font-family: manrope, sans-serif;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 2;
}

.button-like {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.button-like:hover {
  background-color: rgba(214, 198, 198, 0.694);
  transition: opacity 0.3s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 35px;

  padding-left: 20px;
  text-align: center;
}

.heading-1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: manrope, sans-serif;
  color: white;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.text-1 {
  font-size: 18px;
  color: white;
  font-family: manrope, sans-serif;
  font-weight: 2;
}
.text-2 {
  font-size: 23px;
  color: white;
  font-family: manrope, sans-serif;
}

.box-1 {
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-family: manrope, sans-serif;
}

.backgroundc {
  background-color: rgba(5, 0, 52, 0.784);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
/* for sadhana logo in footer */
.img-footer {
  text-align: center;
  display: inline-block;
  margin-left: 25%;
  margin-top: 20px;
}
.img-footer img {
  width: 230px;
  height: 180px;
}
/* last finishing touch for product till now */
/* gaurav's work */
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > .membership-card {
  background-color: #f1f1f1;
  margin: 15px;
  padding: 20px;
  font-size: 16px;
}

h1 {
  font-family: manrop, sans-serif;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
}

.color-box {
  width: 250px;
  height: 70px;
  background-color: rgb(125, 99, 203);
  border-radius: 0px 0px 0px 100%;
  float: right;
}

.box-content {
  padding: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* gaurav's work */
.img1 {
  float: left;

  padding-left: 5%;
  padding-right: 6%;
  margin-right: -3rem;
}

h1.gavr {
  margin: 0%;
  padding: 0%;
}

p#gav {
  margin-left: 5%;
  font-size: 35px;
}

.img2 {
  width: 150px;
  height: 60px;
}
div.cars {
  background-color: none;
  border: 2px grey solid;
  border-radius: 50px;
  width: 100%;
  text-align: center;
}
/* Rohit singh tanwar's work */

#pages {
  display: flex;
  overflow-x: scroll;
  white-space: wrap;
}

img {
  width: 450px;
  height: 350px;
  border: 2px white;
}

.class {
  font-size: 25px;
  margin: 5px;
}

.para {
  width: 450px;
}

.bor {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
#pages .bor button {
  /* 3D button styles */
  background-color: rgb(7, 161, 94);
  border: 1px solid #10b6ab;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0px);
  transition: transform 0.25s ease-in-out;
}
#pages .bor button:hover {
  /* Hover effect */
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  zoom: 1.2;
}
